body {
   background:#ecf0f1
}

.painel-titulo p {
    color: #bdc3c7
}

.btn-principal {
    background: #f78f1e;
    color: #ecf0f1;
    border-radius: 50px;
}

.btn-secundario {
    background: #7f8c8d;
    color: #ecf0f1;
    border-radius: 50px;
}

.titulo-principal {
    color: #f78f1e
}

.painel {
    background: white;
    padding: 60px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 2px 10px -2px #bdc3c7;
    -moz-box-shadow: 0px 2px 10px -2px #bdc3c7;
    box-shadow: 0px 2px 10px -2px #bdc3c7;
}

.bg-cinza-claro {
    background: white !important;
    -webkit-box-shadow: 0px 2px 10px -2px #bdc3c7;
    -moz-box-shadow: 0px 2px 10px -2px #bdc3c7;
    box-shadow: 0px 2px 10px -2px #bdc3c7;
}
